@{
    ViewBag.Title = "Developer Academy- App Service";
}



<div class="row">
    <div class="col-md-20 alert alert-success" style="margin-top:2em ">
        
        <h2 style="font-family:serif;font-size:20px">Congratulations!! You are now registered for Developer Academy- App Services.</h2>
        <h2 style="font-family:serif;font-size:20px">Soon you will be communicated for the detailed schedule for classroom sessions.</h2>
        
    </div>
    <div class="col-md-20">
        <p><a class="btn btn-primary" target="_blank" href="https://app.pluralsight.com/library/courses/aspdotnet-webforms4-intro/table-of-contents">Start Learning for Pre-requisites &raquo;</a></p>
    </div>
    
</div>